{% extends 'base.html' %}

{% block content %}
<div class="flex-1 p-10">
  <h1 class="font-bold mb-6" style="font-size: xx-large;">Halaman Input Data</h1>
  <div class="bg-gray-100">
    <!-- Button to open the modal -->
    <div class="flex justify-end space-x-4">
      <button id="openManualAdd"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none">Tambah Data
        Manual
      </button>
      <button id="openCsvAdd"
        class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700 focus:outline-none">Tambah Data
        CSV
      </button>
      <form action="/hapusdatainput" method="POST">
        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          Hapus Data
        </button>
      </form>
    </div>


    <!--alert data sudah di hapus-->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="space-y-4">
        {% for category, message in messages %}
          {% if category == 'success' %}
            <div class="flash-message bg-green-500 text-white py-2 px-4 mt-2 mb-2 rounded-md shadow-md text-center">
              {{ message }}
            </div>
          {% elif category == 'error' %}
            <div class="flash-message bg-red-500 text-white py-2 px-4 mt-2 mb-2 rounded-md shadow-md text-center">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}


    <!-- Modal Manual Add -->
    <div id="modalManualAdd" class="flex hidden fixed inset-0 bg-gray-900 bg-opacity-50 items-center justify-center">
      <div class="bg-white rounded-lg shadow-lg w-1/3 p-6">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul>
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h2 class="text-lg font-semibold mb-4">Tambah Data Manual</h2>
        <!-- Form for input -->
        <form action="/submit" method="POST">
          <div class="mb-4">
            <label for="tanggal" class="block text-gray-700 text-sm font-bold mb-2">Tanggal:</label>
            <input type="date" name="tanggal" id="tanggal"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              required />
          </div>
          <div class="mb-4">
            <label for="waktu" class="block text-gray-700 text-sm font-bold mb-2">Waktu (MM.SS):</label>
            <input type="text" name="waktu" id="waktu" pattern="^[0-9]{1,2}\.[0-9]{2}$"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              required>
            <p class="text-gray-600 text-xs italic">Format: MM.SS (Contoh: 31.23 untuk 31 menit 23 detik)</p>
          </div>
          <div class="mb-4">
            <label for="latitude" class="block text-gray-700">Latitude</label>
            <input type="text" id="latitudeForm" name="latitude"
              class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
          </div>
          <div class="mb-4">
            <label for="longitude" class="block text-gray-700">Longitude</label>
            <input type="text" id="longitudeForm" name="longitude"
              class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
          </div>
          <div class="mb-4">
            <label for="magnitude" class="block text-gray-700">Magnitude</label>
            <input type="text" id="magnitudeForm" name="magnitude"
              class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
          </div>
          <div class="mb-4">
            <label for="depth" class="block text-gray-700">Depth</label>
            <input type="text" id="depthForm" name="depth"
              class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
          </div>

          <!-- Modal action buttons -->
          <div class="flex justify-end space-x-4">
            <button type="button" id="closeModalManualAdd"
              class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600">Batal</button>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Simpan</button>
          </div>
        </form>
      </div>
    </div>
    <h1 class="text-2xl font-bold mt-5 mb-5">Data Gempa Bumi</h1>

    <!--Tabel data Gempa-->
    <div class="table-container"></div>
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-neutral-400">
          <th class="py-1 px-2 border centerkolom">No</th>
          <th class="py-1 px-2 border centerkolom">Tanggal</th>
          <th class="py-1 px-2 border centerkolom">Waktu</th>
          <th class="py-1 px-2 border centerkolom">Latitude</th>
          <th class="py-1 px-2 border centerkolom">Longitude</th>
          <th class="py-1 px-2 border centerkolom">Magnitude</th>
          <th class="py-1 px-2 border centerkolom">Depth</th>
          <th class="py-1 px-2 border centerkolom">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for eq in earthquakes %}
        <tr class="hover:bg-gray-200">
          <td class="py-2 px-4 border centerkolom">{{ loop.index + (page - 1) * 100 }}</td>
          <td class="py-1 px-2 border centerkolom">{{ eq.tanggal }}</td>
          <td class="py-1 px-2 border centerkolom">{{ eq.waktu }}</td>
          <td class="py-1 px-2 border centerkolom">{{ eq.latitude }}</td>
          <td class="py-1 px-2 border centerkolom">{{ eq.longitude }}</td>
          <td class="py-1 px-2 border centerkolom">{{ eq.magnitude }}</td>
          <td class="py-1 px-2 border centerkolom">{{ eq.depth }}</td>
          <td class="py-1 px-2 border ">
            <div class="flex items-center action-buttons">
              <button
                onclick="openEditModal({{ eq.id }}, '{{ eq.tanggal }}', '{{ eq.waktu }}', {{ eq.latitude }}, {{ eq.longitude }}, {{ eq.magnitude }}, {{ eq.depth }})"
                class="bg-green-500 text-white rounded-md hover:bg-green-600 ml-2 buttonkolom">Ubah</button>
              <form action="/delete/{{ eq.id }}" method="POST">
                <button type="submit"
                  class="ml-2 bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 buttonkolom">Hapus</button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Pagination -->
    <div class="pagination mt-4 flex justify-center overflow-x-auto">
      <!-- Previous Button -->
      {% if page > 1 %}
      <a href="?page={{ page - 1 }}"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mr-2">Previous</a>
      {% endif %}

      <!-- Page Number Buttons with Scrolling -->
      <div class="flex space-x-1 overflow-x-auto" style="max-width: 200px;">
        {% if total_pages <= 5 %} <!-- Display all pages if total pages <=5 -->
          {% for p in range(1, total_pages + 1) %}
          <a href="?page={{ p }}"
            class="bg-gray-300 text-black px-3 py-2 rounded-md hover:bg-gray-400 {{ 'font-bold' if p == page else '' }}">
            {{ p }}
          </a>
          {% endfor %}
          {% else %}
          <!-- Conditionally display pages with ellipsis if there are more than 5 pages -->
          {% if page > 2 %}
          <a href="?page=1" class="bg-gray-300 text-black px-3 py-2 rounded-md hover:bg-gray-400">1</a>
          {% if page > 3 %}<span class="px-2">...</span>{% endif %}
          {% endif %}

          <!-- Display 2 pages before and after the current page -->
          {% for p in range(max(1, page - 2), min(total_pages, page + 2) + 1) %}
          <a href="?page={{ p }}"
            class="bg-gray-300 text-black px-3 py-2 rounded-md hover:bg-gray-400 {{ 'font-bold' if p == page else '' }}">
            {{ p }}
          </a>
          {% endfor %}

          {% if page < total_pages - 2 %} {% if page < total_pages - 3 %}<span class="px-2">...</span>{% endif %}
            <a href="?page={{ total_pages }}" class="bg-gray-300 text-black px-3 py-2 rounded-md hover:bg-gray-400">{{
              total_pages }}</a>
            {% endif %}
            {% endif %}
      </div>

      <!-- Next Button -->
      {% if page < total_pages %} <a href="?page={{ page + 1 }}"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 ml-2">Next</a>
        {% endif %}
    </div>
  </div>

  <!--Modal Edit data gempa-->
  <div id="editModal" class="fixed flex inset-0 bg-gray-600 hidden bg-opacity-50 items-center justify-center">
    <div class="bg-white p-6 rounded-md w-1/3">
      <h2 class="text-xl font-bold mb-4">Edit Data Gempa</h2>
      <form action="/update" method="POST">
        <input type="hidden" id="editId" name="id_gempa">
        <div class="mb-4">
          <label for="editTanggal" class="block text-gray-700 text-sm font-bold mb-2">Tanggal:</label>
          <input type="date" id="editTanggal" name="tanggal"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required>
        </div>
        <div class="mb-4">
          <label for="editWaktu" class="block text-gray-700 text-sm font-bold mb-2">Waktu (MM.SS):</label>
          <input type="text" id="editWaktu" name="waktu" pattern="^\d{1,2}\.\d{2}$"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            required>
        </div>
        <div class="mb-4">
          <label for="editLatitude" class="block text-gray-700">Latitude</label>
          <input type="text" id="editLatitude" name="latitude"
            class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
        </div>
        <div class="mb-4">
          <label for="editLongitude" class="block text-gray-700">Longitude</label>
          <input type="text" id="editLongitude" name="longitude"
            class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
        </div>
        <div class="mb-4">
          <label for="editMagnitude" class="block text-gray-700">Magnitude</label>
          <input type="text" id="editMagnitude" name="magnitude"
            class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
        </div>
        <div class="mb-4">
          <label for="editDepth" class="block text-gray-700">Depth</label>
          <input type="text" id="editDepth" name="depth"
            class="border border-gray-300 rounded-md w-full p-2 focus:ring focus:ring-blue-200" required />
        </div>

        <!-- Tombol di dalam Modal -->
        <div class="flex justify-end space-x-4">
          <button type="button" onclick="closeEditModal()"
            class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600">Batal</button>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Simpan
            Perubahan</button>
        </div>
      </form>
    </div>
  </div>

  <!--Modal CSV Add data-->
  <div id="csvModal" class="fixed flex inset-0 bg-gray-600 bg-opacity-50 hidden items-center justify-center">
    <div class="bg-white p-6 rounded-md w-1/3">
      <h2 class="text-xl font-bold mb-4">Upload File CSV</h2>
      <!-- Form upload CSV -->
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div id="dropArea" class="border-2 border-dashed border-gray-400 p-4 rounded-md text-center mb-4">
          <p class="text-gray-600 mb-2">Seret dan letakkan file CSV Anda di sini</p>
          <p class="text-gray-600 mb-2">atau</p>
          <label for="fileInput"
            class="bg-blue-500 text-white px-4 py-2 rounded-md cursor-pointer hover:bg-blue-600">Pilih File</label>
        </div>
        <input type="file" id="fileInput" name="file" class="hidden">
        <!-- Tombol di dalam modal -->
        <div class="flex justify-end space-x-4">
          <button type="button" onclick="closeCsvModal()"
            class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600">Batal</button>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}